<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <form action="/newUser" method="POST" id="form">
          <input type="text" name="name" autocomplete="off" />
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="wrapper">
        <% users.map((e, index )=> { %>
        <div class="item">
          <h1><%= e.name%></h1>
          <button class="input" data-id="<%= e.id  %> ">&#10006;</button>
        </div>
        <% }) %>
    <script src="/assets/app.js"></script>
  </body>
</html>
